{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('errors') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('errors') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}