{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('category_list') }}" >List of categories</a></li>
        <li><a href="{{ path('product_list') }}" >List of products</a></li>
    </ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
